body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: radial-gradient(50% 50% at 50% 50%, #FF025D 0%, #F87BD5 100%);
}


h1 {
    color: #FFE0E0;
    font-family: 'Inter', sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

p {
    color: #FFA7A7;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 16px;
    text-align: center;
}